@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Grounding colors */
    --foreground: 247, 247, 247, 1;
    --foreground-hover: 255, 255, 255, 1;

    --background: 255, 255, 255, 1;
    --background-hover: 247, 247, 247, 1;

    /* Brand colors */
    --primary: 0, 0, 0, 1;
    --primary-muted: 112, 112, 112, 1;
    --primary-inner: 255, 255, 255, 1;
    --primary-hover: 255, 255, 255, 1;

    --secondary: 0, 0, 0, 0;
    --secondary-muted: 247, 247, 247, 1;
    --secondary-inner: 112, 112, 112, 1;
    --secondary-hover: 0, 0, 0, 1;

    --action: 178, 16, 100, 1;
    --action-muted: 112, 16, 66, 1;

    /* Signal colors */
    --active: 13, 153, 255, 1;
    --active-muted: 8, 92, 153, 1;

    --passive: 255, 204, 0, 1;
    --passive-muted: 153, 122, 0, 1;

    --positive: 34, 197, 94, 1;
    --positive-muted: 20, 118, 56, 1;

    --negative: 220, 5, 45, 1;
    --negative-muted: 132, 3, 27, 1;

    /* Transparent color */
    --transparent: 0, 0, 0, 0;

    /* External link color */
    --link: 13, 153, 255, 1;

    /* Skeleton color */
    --skeleton: 221, 221, 221, 1;

    /* Separator colors */
    --separator: 221, 221, 221, 1;

    /* Test colors */
    --testing: 62, 180, 137, 1;

    /* Default border radius */
    --radius: 0.5rem;
  }

  .dark {
    /* Grounding colors */
    --foreground: 16, 16, 16, 1;
    --foreground-hover: 0, 0, 0, 1;

    --background: 0, 0, 0, 1;
    --background-hover: 16, 16, 16, 1;

    /* Brand colors */
    --primary: 255, 255, 255, 1;
    --primary-muted: 112, 112, 112, 1;
    --primary-inner: 0, 0, 0, 1;
    --primary-hover: 0, 0, 0, 1;

    --secondary: 0, 0, 0, 0;
    --secondary-muted: 16, 16, 16, 1;
    --secondary-inner: 112, 112, 112, 1;
    --secondary-hover: 255, 255, 255, 1;

    --action: 178, 16, 100, 1;
    --action-muted: 112, 16, 66, 1;

    /* Signal colors */
    --active: 13, 153, 255, 1;
    --active-muted: 8, 92, 153, 1;

    --passive: 255, 204, 0, 1;
    --passive-muted: 153, 122, 0, 1;

    --positive: 34, 197, 94, 1;
    --positive-muted: 20, 118, 56, 1;

    --negative: 220, 5, 45, 1;
    --negative-muted: 132, 3, 27, 1;

    /* Transparent color */
    --transparent: 0, 0, 0, 0;

    /* External link color */
    --link: 13, 153, 255, 1;

    /* Skeleton color */
    --skeleton: 47, 47, 47, 1;

    /* Separator colors */
    --separator: 47, 47, 47, 1;

    /* Test colors */
    --testing: 62, 180, 137, 1;

    /* Default border radius */
    --radius: 0.5rem;
  }

  ::selection {
    background: #b21064;
    color: #ffffff;
  }

  body {
    @apply bg-background font-medium text-primary;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.general-gradient {
  position: relative;
  background-image: repeating-linear-gradient(
    to left,
    #b21064,
    #701042,
    #b21064
  );

  z-index: 1;
  background-position-x: 0%;
  background-size: 200%;
  animation: gradimate 3s linear infinite;
  background-clip: text;
}

.action-gradient {
  position: relative;
  background-image: repeating-linear-gradient(
    to left,
    #d9d9d9,
    #424242,
    #d9d9d9
  );

  z-index: 1;
  background-position-x: 0%;
  background-size: 200%;
  animation: gradimate 3s linear infinite;
  background-clip: text;
}

@keyframes gradimate {
  0% {
    background-position-x: 200%;
  }

  50% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0%;
  }
}

#gradient-canvas {
  --gradient-color-1: #bde1ff;
  --gradient-color-2: #6ca0f4;
  --gradient-color-3: #e2d8ee;
  --gradient-color-4: #94c8ff;
}
