@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Grounding colors */
    --foreground: 217, 217, 217, 1;
    --foreground-hover: 217, 217, 217, 0.6;
    --background: 255, 255, 255, 1;
    --background-hover: 255, 255, 255, 0.6;

    /* Text colors */
    --standard: 112, 112, 112, 1;
    --standard-hover: 0, 0, 0, 1;

    /* Brand colors */
    --primary: 220, 5, 45, 1;
    --primary-hover: 128, 0, 24, 1;

    --secondary: 0, 0, 0, 1;
    --secondary-hover: 0, 0, 0, 0.5;

    --tertiary: 101, 22, 27, 1;
    --tertiary-hover: 255, 255, 255, 0.5;

    /* Call-to-Action colors */
    --active: 13, 153, 255, 1;
    --passive: 217, 217, 217, 1;

    /* Destructive / Warning colors */
    --destructive: 88, 101, 242, 1;
    --destructive-hover: 200, 0, 0, 1;

    /* Skeleton colors */
    --skeleton: 217, 217, 217, 0.5;

    /* Separator colors */
    --separator: 112, 112, 112, 0.3;
    --separator-hover: 0, 0, 0, 1;

    --test: 62, 180, 137, 1;
  }

  .dark {
    /* Grounding colors */
    --foreground: 112, 112, 112, 1;
    --foreground-hover: 112, 112, 112, 0.6;
    --background: 0, 0, 0, 1;
    --background-hover: 0, 0, 0, 0.6;

    /* Text colors */
    --standard: 112, 112, 112, 1;
    --standard-hover: 217, 217, 217, 1;

    /* Brand colors */
    --primary: 220, 5, 45, 1;
    --primary-hover: 128, 0, 24, 1;

    --secondary: 0, 0, 0, 1;
    --secondary-hover: 0, 0, 0, 0.5;

    --tertiary: 101, 22, 27, 1;
    --tertiary-hover: 255, 255, 255, 0.5;

    /* Call-to-Action colors */
    --active: 13, 153, 255, 1;
    --passive: 112, 112, 112, 1;

    /* Destructive / Warning colors */
    --destructive: 255, 0, 0, 1;
    --destructive-hover: 200, 0, 0, 1;

    /* Skeleton colors */
    --skeleton: 217, 217, 217, 0.5;

    /* Separator colors */
    --separator: 112, 112, 112, 0.3;
    --separator-hover: 255, 255, 255, 1;

    --test: 62, 180, 137, 1;
  }

  ::selection {
    background: #dc052d;
    color: #000000;
  }

  body {
    @apply bg-background font-regular text-standard;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.gradient-button {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, #00f, #00e8ff) border-box;
  color: #313149;
  padding: 20px 70px;
  border: 5px solid transparent;
  border-radius: 40px;
  display: inline-block;
  font-size: 28px;
}

.general-gradient {
  position: relative;
  background-image: repeating-linear-gradient(
    to left,
    #dc052d,
    #800018,
    #dc052d
  );

  z-index: 1;
  background-position-x: 0%;
  background-size: 200%;
  animation: gradimate 3s linear infinite;
  background-clip: text;
}

.action-gradient {
  position: relative;
  background-image: repeating-linear-gradient(
    to left,
    #d9d9d9,
    #424242,
    #d9d9d9
  );

  z-index: 1;
  background-position-x: 0%;
  background-size: 200%;
  animation: gradimate 3s linear infinite;
  background-clip: text;
}

@keyframes gradimate {
  0% {
    background-position-x: 200%;
  }

  50% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0%;
  }
}
