.gradient {
  position: relative;
  background-image: repeating-linear-gradient(
    to left,
    #b21064,
    #424242,
    #b21064
  );

  z-index: 1;
  background-position-x: 0%;
  background-size: 200%;
  animation: gradimate 3s linear infinite;
  background-clip: text;
}

@keyframes gradimate {
  0% {
    background-position-x: 200%;
  }

  50% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0%;
  }
}
