# Use the production URL when deploying to production
# Please, make sure that there is no "/" at the end of the URL
NEXT_PUBLIC_APP_URL="http://localhost:4002"
# Name of your Project, e.g. Streamify
PROJECT_NAME=""

# Clerk
# Authentication
# To be found here: https://dashboard.clerk.com/apps/app_2Rjd2wWY1UGLrrCjC4lKADOSP5m/instances/ins_2Rjd32jEgAOYnRc4jhMDYIdJrIE/api-keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_"
CLERK_SECRET_KEY="sk_"
# Clerk configurations for re-routing
# Read more about this here: https://clerk.com/docs/nextjs/get-started-with-nextjs#update-your-environment-variables
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/signin"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/signup"
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL="/plus"
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL="/verify"

# Resend
# Email service for React
RESEND_COMPANY_NAME="Your company"
RESEND_COMPANY_URL="https://your-company.com"
RESEND_API_KEY="re_"
RESEND_MAIL_FROM="any-service-name@your-email.com"

# Mux
# Video encoding service
MUX_ACCESS_TOKEN_ID=""
MUX_SECRET_KEY=""
